/* Style pour le tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(8px);
  padding: 6px 12px;
  background-color: #343a40;
  color: #fff;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 1080; /* Doit être au-dessus du reste */
}

[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s; /* Petit délai avant d'apparaître */
}